In [1]:
import numpy as np
import pandas as pd
import xlsxwriter
import requests
from scipy import stats
import math
from secrets import IEX_CLOUD_API_TOKEN

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks['Ticker']

0         A
1       AAL
2       AAP
3      AAPL
4      ABBV
       ...
500     YUM
501     ZBH
502    ZBRA
503    ZION
504     ZTS
Name: Ticker, Length: 505, dtype: object

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'avgTotalVolume': 79858214,
 'calculationPrice': 'tops',
 'change': 2.07,
 'changePercent': 0.01403,
 'close': 0,
 'closeSource': 'lfcoifai',
 'closeTime': None,
 'companyName': 'Apple Inc',
 'currency': 'USD',
 'delayedPrice': None,
 'delayedPriceTime': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPrice': None,
 'extendedPriceTime': None,
 'high': 0,
 'highSource': None,
 'highTime': None,
 'iexAskPrice': 149.3,
 'iexAskSize': 103,
 'iexBidPrice': 151.37,
 'iexBidSize': 206,
 'iexClose': 150.59,
 'iexCloseTime': 1689850964755,
 'iexLastUpdated': 1683667854401,
 'iexMarketPercent': 0.01194783355919346,
 'iexOpen': 152.4,
 'iexOpenTime': 1673131052154,
 'iexRealtimePrice': 151.49,
 'iexRealtimeSize': 104,
 'iexVolume': 529903,
 'lastTradeTime': 1666128078934,
 'latestPrice': 148.73,
 'latestSource': 'IEX real time price',
 'latestTime': '12:20:03 PM',
 'latestUpdate': 1708544109903,
 'latestVolume': None,
 'low': 0,
 'lowSource': None,
 'lowTime': None,
 'marketCap': 2488252298139,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'open': 0,
 'openTime': None,
 'openSource': 'lcfoiiaf',
 'peRatio': 30.53,
 'previousClose': 147.61,
 'previousVolume': 89434755,
 'primaryExchange': 'ASDANQ',
 'symbol': 'AAPL',
 'volume': None,
 'week52High': 157.32,
 'week52Low': 110.29,
 'ytdChange': 0.1273355547803883,
 'isUSMarketOpen': True}

In [4]:
pe_ratio = data['peRatio']
pe_ratio

30.53

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

In [6]:
symbol_strings

['A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,ADM,ADP,ADSK,AEE,AEP,AES,AFL,AIG,AIV,AIZ,AJG,AKAM,ALB,ALGN,ALK,ALL,ALLE,ALXN,AMAT,AMCR,AMD,AME,AMGN,AMP,AMT,AMZN,ANET,ANSS,ANTM,AON,AOS,APA,APD,APH,APTV,ARE,ATO,ATVI,AVB,AVGO,AVY,AWK,AXP,AZO,BA,BAC,BAX,BBY,BDX,BEN,BF.B,BIIB,BIO,BK,BKNG,BKR,BLK,BLL,BMY,BR,BRK.B,BSX,BWA,BXP,C,CAG,CAH,CARR,CAT,CB,CBOE,CBRE,CCI,CCL,CDNS,CDW,CE,CERN,CF,CFG,CHD,CHRW,CHTR,CI,CINF,CL,CLX,CMA,CMCSA',
 'CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,COTY,CPB,CPRT,CRM,CSCO,CSX,CTAS,CTL,CTSH,CTVA,CTXS,CVS,CVX,CXO,D,DAL,DD,DE,DFS,DG,DGX,DHI,DHR,DIS,DISCA,DISCK,DISH,DLR,DLTR,DOV,DOW,DPZ,DRE,DRI,DTE,DUK,DVA,DVN,DXC,DXCM,EA,EBAY,ECL,ED,EFX,EIX,EL,EMN,EMR,EOG,EQIX,EQR,ES,ESS,ETFC,ETN,ETR,EVRG,EW,EXC,EXPD,EXPE,EXR,F,FANG,FAST,FB,FBHS,FCX,FDX,FE,FFIV,FIS,FISV,FITB,FLIR,FLS,FLT,FMC,FOX,FOXA,FRC,FRT,FTI,FTNT,FTV,GD,GE,GILD',
 'GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,GWW,HAL,HAS,HBAN,HBI,HCA,HD,HES,HFC,HIG,HII,HLT,HOLX,HON,HPE,HPQ,HRB,HRL,HSIC,HST,HSY,HUM,HWM,IBM,ICE,IDXX,IEX,IFF,ILMN,INCY,INFO,INTC,INTU,IP,IPG,IPGP,IQV,IR,IRM,ISRG,IT,ITW,IVZ,J,JBHT,JCI,JKHY,JNJ,JNPR,JPM,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO,KR,KSS,KSU,L,LB,LDOS,LEG,LEN,LH,LHX,LIN,LKQ,LLY,LMT,LNC,LNT,LOW,LRCX,LUV,LVS,LW,LYB,LYV,MA,MAA,MAR,MAS,MCD,MCHP',
 'MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,MMM,MNST,MO,MOS,MPC,MRK,MRO,MS,MSCI,MSFT,MSI,MTB,MTD,MU,MXIM,MYL,NBL,NCLH,NDAQ,NEE,NEM,NFLX,NI,NKE,NLOK,NLSN,NOC,NOV,NOW,NRG,NSC,NTAP,NTRS,NUE,NVDA,NVR,NWL,NWS,NWSA,O,ODFL,OKE,OMC,ORCL,ORLY,OTIS,OXY,PAYC,PAYX,PBCT,PCAR,PEAK,PEG,PEP,PFE,PFG,PG,PGR,PH,PHM,PKG,PKI,PLD,PM,PNC,PNR,PNW,PPG,PPL,PRGO,PRU,PSA,PSX,PVH,PWR,PXD,PYPL,QCOM,QRVO,RCL,RE,REG,REGN,RF,RHI,RJF,RL,RMD,ROK',
 'ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SIVB,SJM,SLB,SLG,SNA,SNPS,SO,SPG,SPGI,SRE,STE,STT,STX,STZ,SWK,SWKS,SYF,SYK,SYY,T,TAP,TDG,TDY,TEL,TFC,TFX,TGT,TIF,TJX,TMO,TMUS,TPR,TROW,TRV,TSCO,TSN,TT,TTWO,TWTR,TXN,TXT,TYL,UA,UAA,UAL,UDR,UHS,ULTA,UNH,UNM,UNP,UPS,URI,USB,V,VAR,VFC,VIAC,VLO,VMC,VNO,VRSK,VRSN,VRTX,VTR,VZ,WAB,WAT,WBA,WDC,WEC,WELL,WFC,WHR,WLTW,WM,WMB,WMT,WRB,WRK,WST,WU,WY,WYNN,XEL,XLNX,XOM,XRAY,XRX,XYL',
 'YUM,ZBH,ZBRA,ZION,ZTS']

In [7]:
final_dataframe = pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Price-to-Earnings Ratio, Number of Shares to Buy]
Index: []

In [8]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
#    print(data)
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series(
                                        [
                                        symbol,
                                        data[symbol]['quote']['latestPrice'],
                                        data[symbol]['quote']['peRatio'],
                                        'N/A'
                                        ],
                                        index = my_columns),
                                    ignore_index=True)
        
final_dataframe

    Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  162.100                   50.53                     N/A
1      AAL   20.543                    -2.0                     N/A
2      AAP  233.250                    24.3                     N/A
3     AAPL  150.970                   29.67                     N/A
4     ABBV  112.750                   30.37                     N/A
..     ...      ...                     ...                     ...
500    YUM  128.240                   30.29                     N/A
501    ZBH  154.420                   35.25                     N/A
502   ZBRA  536.740                    38.3                     N/A
503   ZION   63.406                    6.29                     N/A
504    ZTS  212.850                   53.06                     N/A

[505 rows x 4 columns]

In [23]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace=True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)
final_dataframe

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0    EBAY   76.270                    4.23                     N/A
1     BIO  768.040                     5.7                     N/A
2     MPC   69.070                     5.7                     N/A
3    ZION   63.406                    6.29                     N/A
4     PRU  114.120                    6.36                     N/A
5      GM   57.964                    6.66                     N/A
6    CINF  119.940                    6.78                     N/A
7     AFL   58.315                    6.92                     N/A
8     COF  172.390                    6.93                     N/A
9     COO  405.512                    6.94                     N/A
10    WHR  208.000                    7.21                     N/A
11      C   74.330                    7.57                     N/A
12     GS  412.002                    7.58                     N/A
13     CE  170.750                    7.59                     N/A
14   VIAC   39.900                     7.7                     N/A
15    LEN  100.420                    7.93                     N/A
16     DD   75.820                    7.95                     N/A
17    HRB   25.591                    8.16                     N/A
18    LYB  102.630                    8.25                     N/A
19    UNM   28.326                     8.3                     N/A
20    PHM   51.670                    8.35                     N/A
21     RE  279.010                     8.4                     N/A
22    DFS  130.830                    8.51                     N/A
23    DGX  153.170                    8.96                     N/A
24     RF   23.765                    8.97                     N/A
25    DHI   92.260                    9.05                     N/A
26    HPQ   30.365                    9.14                     N/A
27   HOLX   73.870                    9.32                     N/A
28     CI  213.730                    9.51                     N/A
29    NRG   42.520                    9.55                     N/A
30    SYF   53.820                    9.61                     N/A
31    CTL   11.000                    9.77                     N/A
32     LH  278.560                    9.89                     N/A
33      L   59.500                   10.11                     N/A
34    ALL  129.550                   10.17                     N/A
35     CB  185.440                   10.21                     N/A
36    PGR   94.820                   10.33                     N/A
37   NLSN   20.363                   10.36                     N/A
38    KSS   48.808                   10.36                     N/A
39    KEY   24.240                   10.38                     N/A
40   REGN  557.820                   10.41                     N/A
41     WU   20.358                   10.48                     N/A
42    NUE  107.310                   10.51                     N/A
43    LNC   75.760                   10.62                     N/A
44    UHS  140.710                   10.65                     N/A
45    TRV  159.970                   10.67                     N/A
46    CFG   51.300                   10.99                     N/A
47    DOW   59.840                   11.08                     N/A
48   DISH   44.740                   11.09                     N/A
49     VZ   54.390                   11.16                     N/A

In [24]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

In [25]:
portfolio_input()

Enter the value of your portfolio:1234567

In [28]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for row in final_dataframe.index:
    final_dataframe.loc[row, 'Number of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[row, 'Price'])
    
final_dataframe

   Ticker    Price Price-to-Earnings Ratio Number of Shares to Buy
0    EBAY   76.270                    4.23                     323
1     BIO  768.040                     5.7                      32
2     MPC   69.070                     5.7                     357
3    ZION   63.406                    6.29                     389
4     PRU  114.120                    6.36                     216
5      GM   57.964                    6.66                     425
6    CINF  119.940                    6.78                     205
7     AFL   58.315                    6.92                     423
8     COF  172.390                    6.93                     143
9     COO  405.512                    6.94                      60
10    WHR  208.000                    7.21                     118
11      C   74.330                    7.57                     332
12     GS  412.002                    7.58                      59
13     CE  170.750                    7.59                     144
14   VIAC   39.900                     7.7                     618
15    LEN  100.420                    7.93                     245
16     DD   75.820                    7.95                     325
17    HRB   25.591                    8.16                     964
18    LYB  102.630                    8.25                     240
19    UNM   28.326                     8.3                     871
20    PHM   51.670                    8.35                     477
21     RE  279.010                     8.4                      88
22    DFS  130.830                    8.51                     188
23    DGX  153.170                    8.96                     161
24     RF   23.765                    8.97                    1038
25    DHI   92.260                    9.05                     267
26    HPQ   30.365                    9.14                     813
27   HOLX   73.870                    9.32                     334
28     CI  213.730                    9.51                     115
29    NRG   42.520                    9.55                     580
30    SYF   53.820                    9.61                     458
31    CTL   11.000                    9.77                    2244
32     LH  278.560                    9.89                      88
33      L   59.500                   10.11                     414
34    ALL  129.550                   10.17                     190
35     CB  185.440                   10.21                     133
36    PGR   94.820                   10.33                     260
37   NLSN   20.363                   10.36                    1212
38    KSS   48.808                   10.36                     505
39    KEY   24.240                   10.38                    1018
40   REGN  557.820                   10.41                      44
41     WU   20.358                   10.48                    1212
42    NUE  107.310                   10.51                     230
43    LNC   75.760                   10.62                     325
44    UHS  140.710                   10.65                     175
45    TRV  159.970                   10.67                     154
46    CFG   51.300                   10.99                     481
47    DOW   59.840                   11.08                     412
48   DISH   44.740                   11.09                     551
49     VZ   54.390                   11.16                     453